{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <style>
            body{
                margin: 10%;
            }
            h1{text-align:center;}
        </style>
    </head>
    <body>
        <h1>{{ relation }}</h1><br/>

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">page name</th>
                <th scope="col">category</th>
                <th scope="col">date</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                    <td>{{ page.user_id }}</td>
                    <td>{{ page.user }}</td>
                    <td>{{ page.page_name }}</td>
                    <td>{{ page.page_cat }}</td>
                    <td>{{ page.page_publish_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>