<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        h1{text-align: center;}
        body
        {
        margin-left: 2%;
        margin-top: 10%;
        background-image: url('/static/img/0.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        }
    </style>

    <script src="{% static 'js/jquery.js' %}" ></script>
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'js/popper.js' %}" ></script>
</head>  
<body> 
{% block content %}
{% endblock %}
</body>  
</html>  