 
{% extends 'base.html' %}
{% block content %}
<h1>Employee Details</h1><br/>
<table class="table table-hover">   <!-- "table table-striped table-bordered table-sm" -->
    <thead class="thead-dark">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody id = 'tbody'>  
{% for employee in page_obj %}  
    <tr>  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>  
        <td>  
            {% include 'confirm_delete_modal.html' %}
            {% include 'edit.html' %}
            <button type="button" class="btn btn-warning"><a href="/edit/{{ employee.eid }}" data-toggle="modal" data-target="#EditModal" class="confirm-edit" data-sid="{{ employee.eid }}">Edit</a>  </button>
            <button type="button" class="btn btn-danger"> <a href="/delete/{{ employee.eid }}"   class="confirm-delete" title="Delete" data-toggle="modal" data-target="#confirmDeleteModal" id='{{ employee.eid }}'>Delete </a>  </button>
        </td>  
    </tr>

            
{% endfor %}  
    </tbody>  
</table>  

                        {% if page_obj.has_other_pages %}
                            <ul class= "pagination">
                                {% if page_obj.has_previous %}
                                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
{% endblock %}



